body {
  margin: 50px;
  background-color: #0d93e0;
}
h1 {
    font-family: Baskerville;
    font-size: 350%;
}
h2 {
  font-family: Baskerville;
  font-size: 250%;
}
h3 {
  font-family: Baskerville;
  font-size: 250%;
}
h4 {
  font-family: Baskerville;
  font-size: 250%;
}